.cardIcon{
    width: 30px;
    height: intrinsic;
    position: absolute;
    left: auto;
    right: 15px;
    top: 47px;
}
.pr{
    position: relative;
}
.form-control{
    height: 52px !important;
}
@media only screen and (max-width: 767px) {
    .m-100 {
      width: 100% !important;
      border: none !important;
    }
  }